@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "UpdateJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Meslek Güncelleme Sayfası</h1>
<form method="post">
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>



